@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import '@fontsource/ramaraja/700.css';
@import '@fontsource/ibm-plex-mono/400.css';
@import '@fontsource/ibm-plex-mono/500.css';

@layer base {
  body {
    @apply font-body text-text-primary;
    letter-spacing: 0;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem; /* 40px */
  }

  h2 {
    font-size: 1.75rem; /* 28px */
  }
}