---
import Layout from 'layouts/Layout.astro';
---

<Layout
	title='Chrobok.dev'
	description='Chrobok.dev is a personal website of a software developer.'
>
	<main>
		<div class="flex min-h-without-footer items-center">
			<div class="mx-auto flex items-center justify-center flex-wrap lg:flex-nowrap px-4">
				<div class="text-center">
					<h1 class="text-2xl">Work in progress...</h1>
					<p>While you're waiting, take a look at the <a class="font-bold" href="https://www.instagram.com/chrobok.dev/">journal</a>.</p>
				</div>
				<img src="/images/monk.webp" alt="Stickman monk">
			</div>
		</div>
	</main>
</Layout>
