---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title='Chrobok.dev'
	description='Chrobok.dev is a personal website of a software developer.'
>
	<main>
		<h1 class='text-4xl'>Chrobok.dev</h1>
	</main>
</Layout>
