---
import Layout from 'layouts/Layout.astro';
import { Button } from 'components/ui/button';
---

<Layout
	title='Chrobok.dev'
	description='Chrobok.dev is a personal website of a software developer.'
>
	<main>
		<h1 class='text-4xl'>Chrobok.dev</h1>
		<Button className='bg-red-500'>Click me</Button>
	</main>
</Layout>
