---
const year = new Date().getFullYear();
---

<footer class='mt-2 pt-2 border-t border-black text-center'>
   <p class='text-xs'>
      &copy; {year} Chrobok.dev. All rights reserved.
   </p>
</footer>
